{%extends 'theme.html' %}
{%block content%}
<div class="container">
    <div class="row">
        {%for products in products%}
        <div class='col-md-3'>
            <div class="card">
                <img src="{{products.image}}" class="card-img-top" alt=".....">
                <div class="card-body">
                    <h5 class="card-title">{{products.name}}</h5>
                    <p class="card-text">price:{{products.price}}</p>
                    <p class="card-text">stock:{{products.stock}}</p>
                    <a href="#" class="btn btn-primary">CLICK</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}
